apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "player-sheet.fullname" . }}-config
  labels:
    {{- include "player-sheet.labels" . | nindent 4 }}
data:
  NODE_ENV: "production"
  API_PORT: "{{ .Values.api.port }}"
  WEB_PORT: "{{ .Values.web.port }}"
  JWT_EXPIRES_IN: "15m"
  JWT_REFRESH_EXPIRES_IN: "7d"
  {{- if .Values.traefik.enabled }}
  CORS_ORIGIN: "https://{{ .Values.traefik.domain }}"
  NEXT_PUBLIC_API_URL: "https://{{ .Values.traefik.domain }}/graphql"
  {{- else }}
  CORS_ORIGIN: "http://localhost:3000"
  NEXT_PUBLIC_API_URL: "http://localhost:4000/graphql"
  {{- end }}
