apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "player-sheet.fullname" . }}-config
  labels:
    {{- include "player-sheet.labels" . | nindent 4 }}
data:
  # API Config
  API_PORT: {{ .Values.api.port | quote }}
  API_NODE_ENV: {{ .Values.api.env.NODE_ENV | quote }}
  API_CORS_ORIGIN: {{ .Values.api.env.CORS_ORIGIN | default "http://localhost:3000" | quote }}
  JWT_EXPIRES_IN: {{ .Values.api.env.JWT_EXPIRES_IN | quote }}
  JWT_REFRESH_EXPIRES_IN: {{ .Values.api.env.JWT_REFRESH_EXPIRES_IN | quote }}

  # Web Config
  WEB_PORT: {{ .Values.web.port | quote }}
  WEB_NODE_ENV: {{ .Values.web.env.NODE_ENV | quote }}
  NEXT_PUBLIC_API_URL: {{ .Values.web.env.NEXT_PUBLIC_API_URL | default "http://localhost:4000/graphql" | quote }}
